node_modules/
db_data
db_data/
db_data/**/*.*
.env.prod
node_modules
node_modules/**
./node_modules
.DS_Store
Thumbs.db
wordpress/wp-admin
wordpress/wp-includes
wordpress/wp-content/plugins
docker-compose.prod.yml
wordpress/wp-config.php
wordpress/wp-content/uploads/2019/*
wordpress/wp-content/wflogs
wordpress/wp-content/updraft

# compiled output
/dist
/.tmp