section.footer.l-footer.mt-4
  .container
      .row.text-center.mb-4

        +repeat(4)
          .col-xs-12.col-sm-3.col-md-3
            h5.l-footer__title Links
            ul.list-unstyled.quick-links
              +repeat(4)
                li
                  a(href="#") Item

      .row.text-center
        p.w-100.text-center Copyright 2019

