section.footer.l-footer.mt-4
  .container
      
    .row.text-center.my-4

        .col-xs-12.col-sm-3.col-md-3
          span.icon.icon-waas-complete.text-muted(style="font-size: 7rem")

        .col-xs-6.col-sm-3.col-md-3.pt-4
          h5.l-footer__title Links
          ul.list-unstyled.quick-links
            +repeat(4)
              li
                a(href="#") Item

        .col-xs-6.col-sm-3.col-md-3.pt-4
          h5.l-footer__title Links
          ul.list-unstyled.quick-links
            +repeat(4)
              li
                a(href="#") Item

        .col-xs-12.col-sm-3.col-md-3.pt-4
          h5.l-footer__title Links
          ul.list-unstyled.quick-links
            +repeat(4)
              li
                a(href="#") Item
    .row.text-center
      p.w-100.col-12.text-center Copyright 2019 Instituto Social WAAS

