extends ../_00-toolbox/templates/master.pug

block content
  .container
    p Lorem ipsum Hello
    +e-button("Button")
    a.e-button Link button
    input.btn.btn-primary.e-button(type="submit" value="button")
