.glide {
  $gl: &;
  &-testimonial {

    #{$gl}__bullet {
      background-color: $gray-400;
      &--active{
        background-color: $gray-600;
      }
    }
    .blockquote {
      .row {
        width: 70%;
        margin: 1rem auto 2rem;
        @include media-breakpoint-down(sm){
          width: 100%;
          padding-left: .5rem;
        }
      }
    }
    
  }
}