.c-nav {
  transition: all .5s ease;
  background-color: transparent;
  &.with-background {
    transition: all .5s ease;
    background-color: $blue;
  }
  
  .c-menu {
    @include media-breakpoint-down(lg) {
      z-index: 999;
    }
    &__header {
      // display: flex;
      @include media-breakpoint-down(lg) {
        display: flex;
      }
      display: none;
      justify-content: space-between;
      height: 70px;
      align-items: center;
      // opacity: .8;
      .icon {
        color: $white;
      }
      button {
        background: $white;
        border-radius: 50%;
        border: none;
        display: inline-flex;
        align-items: center;
        .icon {
          color: $blue;
        }
      }
    }
  }

  .c-search--toggle {
    display: none;
    color: $white;
    background: none;
    border: none;
    width: 50px;
  }

  @include media-breakpoint-down(lg) {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    &__brand {
      order: 2;
      margin: 0;
      text-align: center;
      .icon-waas {
        &:before {
          font-size: 2.5rem;
        }
      }
    }
    &__btn-toggle {
      order: 1;
      display: block!important;
    }

    &__search {
      order: 3;
      .c-search__wrapper {
        display: none;
        opacity: 0;
        transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);

      }
      .c-search__input {
        // display: none;
      }
      .c-search__append {
        // margin: 0;
      }
      .c-search--toggle {
        display: block;
      }
    }
    &__list {
      padding-left: 2rem;
    }
  }

  .navbar-brand .icon {
    font-size: 3rem;
  }
  &__menu {
    @include media-breakpoint-down(lg) {
      position: absolute;
      background-color: $blue;
      height: 100vh;
      max-height: 100vmax;
      width: 30vw;
      top: 0;
      bottom: 0;
      // left: 0;
      left: -100%;
      padding: 1rem 1.5rem;
      transition: all 0.3s cubic-bezier(0.73, 0.1, 0.45, 1);
      box-shadow: 0px 10px 0 rgba(#000, 0.4);
      &.active {
        left: 0%;
        box-shadow: 10px 10px 0 rgba(#000, 0.4);
      }
    }
    @include media-breakpoint-down(md) {
      width: 70vw;
    }
  }
  &__btn-toggle {
    border: none;
    .icon {
      color: rgba(#fff, 1);
    }
  }
  // &__list {
  // }
  // &__item {
  // }
  &__item-link {
    font-size: $font-size-lg;
  }
  @include media-breakpoint-down(lg) {
  }
}
body {
  position: relative;
  .c-nav {
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

@include media-breakpoint-down(md) {
  body.is-expanded {
    .c-nav {
      padding-bottom: 76px;
    }
    
    .c-nav__search {
      .c-search__input {
        display: inline-block;
        position: fixed;
        top: 96px;
        left: 0;
        width: 90vw;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}