.c-search {
    &__input {
        border-radius: $btn-border-radius!important;
        border-width: 0;
        background-color: rgba($color: darken($blue, 15%), $alpha: .5);
        color: $white;
        &.form-control{
            padding-right: 65px;
        }
        &::placeholder {
            color: rgba($white, .7);
        }
    }
    &__append {
        z-index: 9;
        margin-left: -63px;
        button:hover{
            cursor: pointer;
        }
        .icon-search {
            color: $white;
        }
    }
    &__wrapper.focus {
        .c-search__append .icon-search {
            color: $blue;
        }
    }
    
}