nav#navbar.c-nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.mb-4
	a.navbar-brand.c-nav__brand(href="#") 
		span.icon.icon-waas(role="icon")
		
	button.navbar-toggler.c-nav__btn-toggle#js-btn-toggle(type="button" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" )
		span.icon.icon-bars(role="icon")
		//- span.navbar-toggler-icon

	.navbar-collapse.c-nav__menu.c-menu#navbarCollapse
		.c-menu__header
			.c-menu__header
				span.icon.icon-waas(role="icon")
			button.c-menu__close
				span.icon.icon-close(role="icon")

		ul.navbar-nav.mr-auto.c-nav__list
			- var menu = ['Sobre nos', 'Metodologia', 'Hackateen','Blog Transmitir', 'Contato']
			each val, index in menu
				li.nav-item.c-nav__item
					a.nav-link.c-nav__item-link(href="#")= val

	form.c-search.c-nav__search
		.input-group.input-group-lg.c-search__wrapper
			input.form-control.c-search__input(type="text" placeholder="Search" aria-label="Search")
			.input-group-append.c-search__append
				button.btn.py-1(type="submit")
					span.icon.icon-search
					span.sr-only Buscar
			

