.c-card {
    // background-color: $gray-200;
    border: solid 8px $gray-400;
    padding: $card-spacer-y $card-spacer-x;
    border-radius: $card-border-radius;
    margin: 1rem 0 2rem;
    &.bullets {
        position: relative;
        .c-card__title {
            color: $gray-600;
        }
        &:before {
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            font-size: $font-size-lg * 1.3;
            content: '\e902';
            position: absolute;
            bottom: -24px;
            left: 33px;
            z-index: 2;
            color: $gray-400;
        }
        &:after {
            content: '';
            background-color: $white;
            position: absolute;
            bottom: -10px;
            height: 12px;
            width: 93px;
            left: 38px;
            z-index: 1;
        }
        // BULLETS RIGHT
        &--right {
            &:before {
                left: unset;
                right: 43px;
            }
            &:after{
                left: unset;
                right: 48px;
            }
        }

        //BULLETS TOP CENTER
        &--top-center {
            &:before {
                bottom: unset;
                left: 0;
                top: -23px;
                right: 0;
                text-align: center;
            }
            &:after{
                bottom: 100%;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }

        // BULLETS ORANGE
        &--orange {
            .c-card__title {
                color: $orange;
            }
            border-color: $orange;
            &:before {
                color: $orange;
            }
        }

        // BULLETS RED
        &--red {
            .c-card__title {
                color: $red;
            }
            border-color: $red;
            &:before {
                color: $red;
            }
        }
        // BULLETS BLUE
        &--blue{
            .c-card__title {
                color: $blue;
            }
            border-color: $blue;
            &:before {
                color: $blue;
            }
        }

        
    } // end bullets

    &__title {
        font-weight: 900;
        color: $gray-600;
    }
    &__img {
        overflow: hidden;
        margin: $card-spacer-y $card-spacer-x;
        &--circle {
            border-radius: 50%;
        }
    }

    &__body {
        color: $gray-600;
    }

    &__link {
        display: flex;
        justify-content: flex-end;
        text-decoration: underline;
    }

    // COVER ##################
    &--cover {
        padding: $jumbotron-padding;
        display: flex;
        align-content: flex-end;
        flex-wrap: wrap;
        height: 70vh;
        min-height: 480px;
        background-size: cover;
        background-position: center center;
        border: solid 8px $blue;
        position: relative;
        &:before {
            content: '';
            z-index: 2;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70%;
            background-image: linear-gradient(rgba($blue, 0), rgba($blue, .7), rgba($blue, 1));
        }
        @include media-breakpoint-down(sm) {
            height: 60vh;
            min-height: 300px;
        }
        h1 {
            font-size:$font-size-xl;
            color: $white;
            z-index: 9;
            @include media-breakpoint-down(sm) {
                font-size: 2rem;    
            }
        }
    }

    // SECTION #################
    &--section {
        padding: $jumbotron-padding;
        @include media-breakpoint-down(sm) {
            .card-deck {
                flex-direction: row;
                flex-wrap: wrap;
                .c-card {
                    padding-left: .5rem;
                    padding-right: .5rem;
                }
            }
            
        }
    }

    // NEWLETTER
    &__newsletter {
        width: 75%;
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }













} // \ end .c-card