.c-card {
    background-color: $gray-200;
    padding: $card-spacer-y $card-spacer-x;
    border-radius: $card-border-radius;
    margin: 1rem 0;

    &__title {
        font-weight: 900;
        color: $gray-600;
    }
    &__img {
        overflow: hidden;
        margin: $card-spacer-y $card-spacer-x;
        &--circle {
            border-radius: 50%;
        }
    }

    &__body {
        color: $gray-600;
    }

    &__link {
        display: flex;
        justify-content: flex-end;
        text-decoration: underline;
    }

    // COVER ##################
    &--cover {
        padding: $jumbotron-padding;
        display: flex;
        align-content: flex-end;
        flex-wrap: wrap;
        height: 70vh;
        min-height: 480px;
        h1 {
            font-size:$font-size-xl;
        }
    }

    // SECTION #################
    &--section {
        padding: $jumbotron-padding;
    }














} // \ end .c-card