<!-- build:js scripts/vendor.js -->
  //- <script type="text/javascript" src="/node_modules/moment/locale/pt-br.js"></script>
  <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  //- <script type="text/javascript" src="/node_modules/particles.js/particles.js"></script>
  //- <script type="text/javascript" src="/node_modules/slick-carousel/slick/slick.js"></script>
  <script type="text/javascript" src="/node_modules/@glidejs/glide/dist/glide.min.js"></script>
  <script type="text/javascript" src="/node_modules/hammerjs/hammer.min.js"></script>
  <script type="text/javascript" src="/node_modules/baguettebox.js/dist/baguetteBox.js"></script>
<!-- endbuild -->
<!-- build:js scripts/main.js -->
  <script src="scripts/glide.js"></script>
  <script src="scripts/slider.js"></script>
  <script src="scripts/lightbox.js"></script>
  <script src="scripts/main.js"></script>
<!-- endbuild -->
block scripts
