//- <link href="https://fonts.googleapis.com/css?family=Lato:400,700i&display=swap" rel="preload" as="font">
//- link(rel="stylesheet", href="/assets/view/sprite.css")
//- link(rel="preload", as="image", href="/assets/symbol/svg/sprite.symbol.svg")
<!-- build:css styles/vendor.css -->
  //- //- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="node_modules/baguettebox.js/dist/baguetteBox.css" type="text/css" />
  <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css">
  <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.theme.min.css">
<!-- endbuild -->

<!-- build:css styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
|
|