//script(src!=`${page.url.static}js/libs/jquery/dist/jquery.min.js${page.version}`, type="text/javascript")
script(src!=`${page.url.static}js/app.min.js${page.version}`, type="text/javascript")

block scripts
